:global(*) {
  box-sizing: border-box;
  -webkit-appearance: none;
}

:global(html) {
  height: 100%;
}

:global(body) {
  margin: 0;
  height: 100%;
}

:global(#app) {
  height: 100%;
  width: 100%;
  display: flex;
}